.card-of-list {
    height: 500px;
    width: 250px;
    display: inline-block;
    margin: 1rem;
    margin-top:4rem;
    color:black;
}

.cardList {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-img-top{
    height: 300px;
    width: 250px;
}